.content{
    height: 500px;
    background: linear-gradient(134deg, rgb(19, 183, 207) -5%, rgb(54, 91, 180) 56%, rgb(54, 91, 180) 56%);
}

select, input, textarea, a {
    outline: none;
}

form {
    display: block;
    width: 1200px;
    height: 72px;
}

header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 79px;

    font-weight: 400;
    /* background: linear-gradient(134deg, rgb(19, 183, 207) -5%, rgb(54, 91, 180) 56%, rgb(54, 91, 180) 56%); */
}

.header-box-line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 1px;

    white-space: nowrap;
}

.right-header-line{
	flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-left: auto;
}


.right-header-line a {
    width: 100%;
    color: #ffffffcc;
}

.right-header-line a:hover {
    color: rgb(255, 255, 255);
    /* font-weight: 700; */
}

.right-header-line > .menu-item:nth-child(n+2) {
    margin-left: 40px;
}

.right-header-line .menu-item:last-child {
    margin-left: 8px;
}

.auth-items {
    margin-left: 40px;
}

.login-page-button, .last-button {
    width: 155px;
    height: 40px;
    
    color: white;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 2px;
    
    background: rgb(54, 91, 180) 56%;
}

.right-header-line .menu-item:nth-child(n+7):hover {
    color: rgb(255, 255, 255);
    background-color: #ffffff33;
}

.button-text {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
}

.button-text span {
    margin-left: 14px;
    margin-right: 14px;

    color: #dfdfdf;
}

.Profile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 50%;
    user-select: none;
    margin-left: 40px;
    position: relative;
    background: url(/static/media/profile.966e0f65.svg) center center / cover no-repeat;
}

.Profile img {
    width: 32px;
    height: 32px;
}


.user-option p{
	background: none;
	color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    line-height: 24px;
    border: none;
    margin-left: 8px;
    cursor: pointer;

    position: relative;
}


.user-option-box {
    position: absolute;
    top: calc(100% + 13px);
    left: calc(50% - 55px);
    transform: translateX(-50%);
    z-index: 101;

    width: 12px;
    height: 12px;

    background-color: #ffffff;
}


.user-option-box::before {
    ccontent: "";
    display: block;
    width: 10px;
    height: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(205, 205, 205) transparent transparent rgb(205, 205, 205);
    background-color: rgb(255, 255, 255);
    transform: translateY(2px) rotate(45deg);
}

.user-option-box nav {
    width: 240px;
    position: absolute;
    top: calc(100% + 20px);
    right: 10px;
    z-index: 100;
}


.header-box {
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    padding: 0px 10px;
}

.header-box > div {
    width: 100%;
}

.header-box > div > h1{
    margin-top: 85px;
    line-height: 60px;
    font-size: 40px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.wap-Tab {
    display: flex;
    height: 30px;
    margin: 40px 0px 20px;
}

.wap-Tab > p {
    font-size: 16px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    user-select: none;
}

.wap-Tab p + p {
    margin-left: 24px;
}

.wap-Tab-Btn1::after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 4px;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.wap-Tab-Btn1 {
    opacity: 1;
}

.wap-Tab-Btn2{
    opacity: 0.5;
}

.wap-input{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 72px;
    padding: 0px 40px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 15px -2px;
    background-color: rgb(255, 255, 255);
}

svg {
    width: 24px;
    height: 24px;
}

.wap-input{
	width: 1180px;
    height: 72px;
}

.wap-input > input {
    flex: 1 1 0%;
    height: 27px;
    margin-left: 20px;
    font-size: 18px;
    border: 0px;
    background-color: transparent;
}
