<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Display HTML clusters with custom properties</title>

  <style>
    .map {

      width: 30px;
      height: 30px;
      padding: 0px 6px;
      color: rgb(255, 255, 255);
      font-size: 12px;
      line-height: 26px;
      text-align: center;
      border: 2px solid rgb(50, 108, 249);
      border-radius: 30px;
      background-color: rgb(50, 108, 249);
      white-space: nowrap;
      position: relative;
      z-index: 2;
    }
  </style>
</head>

<body>
  <div class="map">
    <div>1</div>
  </div>
</body>

</html>